* {
   margin: 0;
   padding: 0;
}

body {
   font-family: "Helvetica", "Arial", sans-serif;
   width: 675px;
   margin: auto;
   color: #999;
   background: #222;
}

section {
   margin: 100px 0;
}

p {
   margin: 20px 0;
}

em {
   color: #dfdfdf;
}

strong {
   color: #dfdfdf;
}

pre {
   background: black;
   padding: 20px;
}

a {
   color: #ccaa00;
   text-decoration: none;
}

code {
   background: black;
   padding: 2px 5px;
}

blockquote {
   margin: 50px;
   font-style: italic;
}

blockquote::before {
   content: "“";
   height: 1px;
   font-size: 72px;
   float: left;
   position: relative;
   top: -25px;
   left: -15px;
   color: #333333;
}

ul {
   list-style-type: none;
}

.blue {
   color: #3366ff;
}

.cyan {
   color: #00ccff;
}

.green {
   color: #00ff00;
}

.orange {
   color: #ffcc00;
}

.magenta {
   color: #cc99ff;
}

.dark {
   color: #808080;
}

.clearfix::after {
   content: ".";
   height: 0;
   line-height: 0;
   visibility: hidden;
   display: block;
   clear: both;
}

header {
   margin: 10ex 0;
   text-align: center;
}

.filename {
   background: black;
   display: inline-block;
   padding: 10px 20px;
}

#languages {
   text-align: center;
}

#selections {
   text-align: center;
}

#selections li {
   display: inline-block;
   height: 300px;
   width: 300px;
   margin: 10px;
   -moz-box-shadow: 0px 0px 3px 1px gray;
   -webkit-box-shadow: 0px 0px 3px 1px gray;
   -o-box-shadow: 0px 0px 3px 1px gray;
   box-shadow: 0px 0px 3px 1px gray;
}

#selections a {
   display: block;
   height: 100%;
   width: 100%;
}

#selections li img {
   max-height: 100%;
   max-width: 100%;
   vertical-align: middle;
}
